# SWE Midterm 1

## Unpacking

Three tokens: ==, $*$, $**$    
Two contexts, function call, function defintion.

In [1]:
def f (x, y, z) :
    return [x, y, z]

def test1 () :
    # f(2, 3)                      # TypeError: f() missing 1 required positional argument: 'z'
    assert f(2, 3, 4) == [2, 3, 4]
    # f(2, 3, 4, 5)                # TypeError: f() takes 3 positional arguments but 4 were given
test1()

f takes three positional arguments that are required

In [2]:
def g1 (x, y, z=5) :
    return [x, y, z]

def test2 () :
    assert g1(2, 3)    == [2, 3, 5]
    assert g1(2, 3, 4) == [2, 3, 4]

# def g2 (x, y=5, z) : # SyntaxError: non-default argument follows default argument
#     return [x, y, z]
test2()

g1 takes two positional arguments that are required, but z is optional. In addition, default arguments cannot follow non default arguments

In [7]:
def h1 (x=[]) : # mutable default
    x += [2]
    return x

def test3 () :
    assert h1()    == [2]
    assert h1()    == [2, 2]
    assert h1([1]) == [1, 2]
    assert h1()    == [2, 2, 2]
    assert h1([1]) == [1, 2]
test3()

If the default is mutable, and you don't pass an argument in, it will edit the default instance

In [8]:
def h2 (x=()) : # immutable default
    x += (2,)
    return x

def test4 () :
    assert h2()     == (2,)
    assert h2()     == (2,)
    assert h2((1,)) == (1, 2)
    assert h2()     == (2,)
    assert h2((1,)) == (1, 2)
test4()

If the default is not a mutable, it will create a new instance every time

In [9]:
def h3 (x=None) :
    if x is None :
        x = []
    x += [2]
    return x

def test5 () :
    assert h3()     == [2]
    assert h3()     == [2]
    assert h3([1])  == [1, 2]
    assert h3()     == [2]
    assert h3([1])  == [1, 2]
    assert h3(None) == [2]
test5()

This is a good way to avoid what's happening in test4. You simply pass in None as the default and create a new array every time.

In [10]:
def f (x, y, z) :
    return [x, y, z]

def test1 () :
    assert f(2, z=4, y=3) == [2, 3, 4]
    # f(z=4, 2,   y=3)                 # SyntaxError: non-keyword arg after keyword arg
    # f(2,   x=2, y=3)                 # TypeError: f() got multiple values for argument 'x'
    # f(2,   a=4, y=3)                 # TypeError: f() got an unexpected keyword argument 'a'
test1()

Non keyword args must be after keyword args. In addition, you can't have multiple values for a field, and fields must correspond with input var names.

In [12]:
def g (x, *, y, z) :
    return [x, y, z]

def test2 () :
    # g(2)                               # TypeError: f() missing 2 required keyword-only arguments: 'y' and 'z'
    assert g(2,   z=4, y=3) == [2, 3, 4]
    assert g(x=2, z=4, y=3) == [2, 3, 4]
    # g(2, 3, 4)                         # TypeError: f() takes 1 positional argument but 3 were given
test2()

$*$ is not required. However, everything after the $*$ become keyword-only arguments and need to be specified.

In [13]:
def f (x, y, z) :
    return [x, y, z]

def test1 () :
    t = (3, 4)
    assert f(2, 5, t) == [2, 5, (3, 4)]
    assert f(2, *t)   == [2, 3, 4]
    assert f(*t,  2)  == [3, 4, 2]
    assert f(z=2, *t) == [3, 4, 2]
    assert f(*t, z=2) == [3, 4, 2]
    # f(x=2, *t)                        # TypeError: f() got multiple values for argument 'x'
    # f(*t,  x=2)                       # TypeError: f() got multiple values for argument 'x'
    # f(*t)                             # TypeError: f() missing 1 required positional argument: 'z'
    # f(*t, 2, 3)                       # TypeError: f() takes 3 positional arguments but 4 were given

test1()

$*$ on a list unpacks it. It takes precedence over keyword-only arguments, so you might run into issues with the compiler being confused with reassignment.

In [14]:
def test2 () :
    u = (2, 3)
    v = (4,)
    assert f(*u, *v) == [2, 3, 4]
    assert  [*u, *v] == [2, 3, 4]
    assert  (*u, *v) == (2, 3, 4)
    assert  {*u, *v} == {2, 3, 4}
test2()

$*$ unpacks iterables

In [15]:
def test3 () :
    d = {"z" : 4, "y" : 3, "x" : 2}
    assert f(**d) == [2, 3, 4]
    # f(2,   **d)                   # TypeError: f() got multiple values for argument 'x'
    # f(x=2, **d)                   # TypeError: f() got multiple values for keyword argument 'x'
test3()

unpacking dictionary assigns the keys to the values and puts it into the function

In [16]:
def test4 () :
    d = {"z" : 4, "y" : 3}
    assert f(2,   **d) == [2, 3, 4]
    # f(**d, 2)                       # SyntaxError: invalid syntax
    assert f(x=2, **d) == [2, 3, 4]
    assert f(**d, x=2) == [2, 3, 4]
    # assert f(z=2, **d) == [2, 3, 4] # TypeError: f() got multiple values for keyword argument 'z'
    # assert f(**d, z=2) == [2, 3, 4] # TypeError: f() got multiple values for keyword argument 'z'
test4()

Remember that you can't have positional arguments must come before the unpacking. In addition, no duplicates.

In [17]:
def test5 () :
    d = {"y" : 3}
    assert f(2, z=4, **d) == [2, 3, 4]
    assert f(2, **d, z=4) == [2, 3, 4]

test5()

Works as expected. Ordering. Unpacking and by name have same precedence

In [18]:
def test6 () :
    t = (3,)
    d = {"z" : 4}
    assert f(2,   *t,  **d) == [2, 3, 4]
    assert f(y=2, *t,  **d) == [3, 2, 4]
    assert f(*t,  y=2, **d) == [3, 2, 4]
    assert f(*t,  **d, y=2) == [3, 2, 4]
    # f(**d, *t, y=2)                    # SyntaxError: iterable argument unpacking follows keyword argument unpacking
test6()

Iterable still has the precedence stuff.

## SQL

SQL is a declarative language that uses relational algebra.  
Select uses an input, which includes a table and a predicate, and outputs another table.   
Project uses an input and a set of attributes, and outputs a table.

## 3-23 HR

In [19]:
def select(input, function):
    return filter(lambda x: function(x), input)

In [21]:
def project(input, *k):
    result = []
    for i in input:
        cur = {}
        for j in k:
            if j in i:
                cur[j] = i[j]
        result += [cur]
    return result

## 3-26 HR

In [ ]:
/*
school names and decisions of
applications to CS that were accepted
sorted by school in ascending order
*/
select "query #1";
SELECT cName, decision FROM Apply WHERE major = "CS" and decision = true ORDER BY cName ASC;

/*
distinct school names and decisions of
applications to CS that were accepted
sorted by school in descending order
limited to two results
*/

select "query #2";
SELECT distinct cName, decision from Apply where major = "CS" and decision = true ORDER BY cName DESC limit 2;

## Regex

In [24]:
from re import compile, M, search, split, sub

def test1 () :
    s = "b ab\naab 123"
    a = split("ab", s)
    assert isinstance(a, list)
    assert a == ['b ', '\na', ' 123']

def test2 () :
    s = "b ab\naab 123"
    a = split("ba", s)
    assert isinstance(a, list)
    assert a == [s]

def test3 () :
    s = "b ab\naab 123"
    a = split("^b", s)               # start of string
    assert isinstance(a, list)
    assert a == ['', ' ab\naab 123']

def test4 () :
    s = "b ab\naab 123"
    a = split("^a", s)      # start of string
    assert isinstance(a, list)
    assert a == [s]

def test5 () :
    s = "b ab\naab 123"
    r = compile("^a", M)                                # multiline
    assert str(type(r)) == "<class '_sre.SRE_Pattern'>"
    a = r.split(s)
    assert isinstance(a,      list)
    assert a == ['b ab\n', 'ab 123']

test1 separates the string into arrays delimited by ab.  
test2 separates by ba, but there's no match, so the string stays the same, but split creates an array  
test3 matches b with the beginning of the input, so it splits the array into an empty string in the beginning, and then the rest of the string  
test4 doesn't match the regex (string doesn't start with a, so no match)    
test5 compiles r into a multiline string, and since the regex matches the second line, we get a two element array as a result of the split.

In [26]:
def test6 () :
    s = "b ab\naab 123"
    a = split("3$", s)            # end of string
    assert isinstance(a, list)
    assert a == ['b ab\naab 12', '']

def test7 () :
    s = "b ab\naab 123"
    a = split("b$", s)      # end of string
    assert isinstance(a, list)
    assert a == [s]

def test8 () :
    s = "b ab\naab 123"
    r = compile("b$", M)                                # multiline
    assert str(type(r)) == "<class '_sre.SRE_Pattern'>"
    a = r.split(s)
    assert isinstance(a,      list)
    assert a == ['b a', '\naab 123']

def test9 () :
    s = "b ab\naab 123"
    a = split(".", s)                                              # any character
    assert isinstance(a, list)
    assert a == ['', '', '', '', '\n', '', '', '', '', '', '', '']

def test10 () :
    s = "b ab\naab 123"
    a = split(r"\d", s)                 # any digit
    assert isinstance(a, list)
    assert a == ['b ab\naab ', '', '', '']

test6 checks if 3 is at the end of the input. It exists, so we split the string into two elements  
test7 checks if the string ends with b. It doesn't, so split doesn't change the string.   
test8 creates a multiline object, and b matches the first line, so an array of two elements is created.   
test9 uses ., which matches every character by newline. So it'll create an array of every element except newlines.  
test10 matches every digit

In [33]:
def test11 () :
    s = "b ab\naab 123"
    a = split("\D", s)                                     # any non-digit
    assert isinstance(a, list)
    assert a == ['', '', '', '', '', '', '', '', '', '123']

def test12 () :
    s = "b ab\naab 123"
    a = split(r"\w", s)                                      # any alphanumeric
    assert isinstance(a, list)
    assert a == ['', ' ', '', '\n', '', '', ' ', '', '', '']

def test13 () :
    s = "b ab\naab 123"
    a = split(r"\W", s)                   # any non-alphanumeric
    assert isinstance(a, list)
    assert a == ['b', 'ab', 'aab', '123']

def test14 () :
    s = "b ab\naab 123"
    m = search("(a*)b([^a]*)(a*)b", s)                # * is zero or more
    assert str(type(m)) == "<class '_sre.SRE_Match'>"
    assert m.group(0) == "b ab"
    assert m.group(1) == ""
    assert m.group(2) == " "
    assert m.group(3) == "a"

def test15 () :
    s = "b ab\naab 123"
    m = search("(a+)b([^a]*)(a+)b", s)                # + is one or more
    assert str(type(m)) == "<class '_sre.SRE_Match'>"
    assert m.group(0) == "ab\naab"
    assert m.group(1) == "a"
    assert m.group(2) == "\n"
    assert m.group(3) == "aa"

test11 matches a non-digit character.   
test12 matches any alphanumeric number  
test13 matches any non-word character (i.e. spaces and newlines).   
test14 uses search, which will look for and return a set of groups. Group 0 is the entire match, and the following groups are the sub matches. In this case, it matched the first strings (a$*$, 0 or more as, b, any character other than a, 0 or more a, b ).   
test15's full match is ab\naab. The first group is a, the second group is \n, the last group is aa.

In [29]:
def test16 () :
    s = "b ab\naab 123"
    m = search("(a?)b([^a]*)(a?)b", s)                # ? is zero or one
    assert str(type(m)) == "<class '_sre.SRE_Match'>"
    assert m.group(0) == "b ab"
    assert m.group(1) == ""
    assert m.group(2) == " "
    assert m.group(3) == "a"

def test17 () :
    s = "b ab\naab 123"
    t = sub("b ", "xx", s)
    assert s == "b ab\naab 123"
    assert t == "xxab\naaxx123"

def test18 () :
    s = "b ab\naab 123"
    t = sub("b.", "xx", s)
    assert s == "b ab\naab 123"
    assert t == "xxab\naaxx123"

def test19 () :
    s = "b ab\naab 123"
    t = sub("", "z", s)
    assert s == "b ab\naab 123"
    assert t == "zbz zazbz\nzazazbz z1z2z3z"

test16 uses ? which matches the preceding expression 0 or 1 time. The complete match is b ab (match b, space, a, b).   
test17 uses sub, which substitutes the string with another string. In this case, we're substituting "b " with xx.    
test18 matches "b." or b and any other character and replaces it with xx.  
test19 puts z before every character

## HR 3-30

In [ ]:
/*
number of schools in California or Texas
MUST USE in
*/

select "query #1";
SELECT count(cName) FROM College WHERE state in ("TX", "CA");

/*
min, max, and average enrollment of
schools whose enrollment is between 20000 and 30000
MUST USE between
*/

select "query #2";
SELECT min(enrollment), max(enrollment), avg(enrollment) from College where enrollment between 20000 and 30000;

/*
names and high school sizes of
students whose names end in "y"
*/

select "query #3";
Select sName, sizeHS from Student where sName like "%y";

/*
min, max, and average high school size of
students whose names have three letters and end in "y"
*/

select "query #4";
Select min(sizeHS), max(sizeHS), avg(sizeHS) from Student where sName like "%y" and sName like "__y";

/*
GPAs of students who applied in CS
sorted in descending order
MUST USE subquery
*/

select "query #5";
Select GPA from Student where sID in (Select sID from Apply where major = "CS") ORDER BY GPA DESC

## Relational Algebra

Select requires table and unary predicate, whereas project requires a table and attributes.   
Joins:
1. Cross join creates all possibilities
2. Theta Join is a crossjoin with a condition
3. Natural Join joins on any field named the same thing
4. Self Join- when a table is joined with itself

## HR 4-02

In [ ]:
/*
ID, name, and GPA of students who applied in CS
MUST USE subquery
*/

select "query #1";
SELECT sID, sName, GPA FROM Student where sID in (Select sID from Apply where major = "CS");

/*
ID, name, and GPA of students who applied in CS
MUST USE inner join
*/

select "query #2";
Select distinct Student.sID, sName, GPA FROM Student INNER JOIN Apply ON Apply.sID = Student.sID WHERE major = "CS";

/*
ID and name of students who have applied in CS but not in EE
*/

select "query #3";
SELECT Student.sID, Student.sName from Student where sID in (Select sID from Apply where major = "CS") and sID not in (Select sID from Apply Where major = "EE");

## HR 4-06

In [35]:
def cross_join(list1, list2):
    for j in list1:
        for i in list2:
            yield {**j, **i}

def cross_join(list1, list2):
    return ({**i, **j} for i in list1 for j in list2)
            

def theta_join(list1, list2, function):
    for i in list1:
        for j in list2:
            if function(i,j):
                yield {**i, **j}

def theta_join(list1, list2, function):
    return ({**i, **j} for i in list1 for j in list2 if function(i,j))

def natural_join (r,s) :
    return theta_join(r, s, lambda u, v : all(u[k] == v[k] for k in u if k in v))

## HR 4-09

In [ ]:
/*
Extract Method (110)
Create Customer.amountFor()

Move Method (142)
Move Customer.amountFor() to Rental.getCharge()

Replace Temp with Query (120)
Changed thisAmount to each.getCharge()
*/

import java.util.Enumeration;
import java.util.Vector;

class Movie {
    public static final int REGULAR     = 0;
    public static final int NEW_RELEASE = 1;
    public static final int CHILDRENS   = 2;

    private String _title;
    private int    _priceCode;

    public Movie (String title, int priceCode) {
        _title = title;
        setPriceCode(priceCode);}

    public int getPriceCode () { // const
        return _priceCode;}

    public String getTitle () { // const
        return _title;}

    public void setPriceCode (int priceCode) {
        _priceCode = priceCode;}}

class Rental {
    private Movie _movie;
    private int   _daysRented;

    public Rental (Movie movie, int daysRented) {
        _movie      = movie;
        _daysRented = daysRented;}

    public int getDaysRented () { // const
        return _daysRented;}
    public double getCharge(){
        double thisAmount = 0;
        switch(_movie.getPriceCode()){
            case Movie.REGULAR:
                thisAmount += 2;
                if (_daysRented > 2)
                    thisAmount += (_daysRented - 2) * 1.5;
                break;
            case Movie.NEW_RELEASE:
                thisAmount += _daysRented * 3;
                break;
            case Movie.CHILDRENS:
                thisAmount += 1.5;
                if (_daysRented > 3)
                    thisAmount += (_daysRented - 3) * 1.5;
                break;
        }
        return thisAmount;
    }

    public Movie getMovie () { // const
        return _movie;}}

class Customer {
    private String         _name;
    private Vector<Rental> _rentals = new Vector<Rental>();

    public Customer (String name) {
        _name = name;}

    public void addRental (Rental rental) {
        _rentals.addElement(rental);}

    public String getName () { // const
        return _name;}
    
    public String statement () { // O(n)
        double              totalAmount          = 0;
        int                 frequentRenterPoints = 0;
        String              result               = "Rental Record for " + getName() + "\n";
        Enumeration<Rental> rentals              = _rentals.elements();
        while (rentals.hasMoreElements()) {
            Rental each       = rentals.nextElement();
            totalAmount += each.getCharge();
            ++frequentRenterPoints;
            if ((each.getMovie().getPriceCode() == Movie.NEW_RELEASE) &&
                (each.getDaysRented()           >  1))
                ++frequentRenterPoints;
            result +=
                "\t" + each.getMovie().getTitle() +
                "\t" + String.valueOf(each.getCharge()) + "\n";}
        result +=
            "Amount owed is "                  +
            String.valueOf(totalAmount) + "\n";
        result +=
            "You earned "                        +
            String.valueOf(frequentRenterPoints) +
            " frequent renter points";
        return result;}}

final class StrategyPattern1 {
    public static void main (String[] args) {
        System.out.println("StrategyPattern.java");

        Customer x = new Customer("Penelope");
        assert x.statement().equals(
            "Rental Record for Penelope\n" +
            "Amount owed is 0.0\n"         +
            "You earned 0 frequent renter points");

        x.addRental(new Rental(new Movie("Shane", Movie.REGULAR), 2));
        assert x.statement().equals(
            "Rental Record for Penelope\n" +
            "\tShane\t2.0\n"               +
            "Amount owed is 2.0\n"         +
            "You earned 1 frequent renter points");

        x.addRental(new Rental(new Movie("Red River", Movie.REGULAR), 5));
        assert x.statement().equals(
            "Rental Record for Penelope\n" +
            "\tShane\t2.0\n"               +
            "\tRed River\t6.5\n"           +
            "Amount owed is 8.5\n"         +
            "You earned 2 frequent renter points");

        x.addRental(new Rental(new Movie("Giant", Movie.NEW_RELEASE), 1));
        assert x.statement().equals(
            "Rental Record for Penelope\n" +
            "\tShane\t2.0\n"               +
            "\tRed River\t6.5\n"           +
            "\tGiant\t3.0\n"               +
            "Amount owed is 11.5\n"        +
            "You earned 3 frequent renter points");

        x.addRental(new Rental(new Movie("2001", Movie.NEW_RELEASE), 3));
        assert x.statement().equals(
            "Rental Record for Penelope\n" +
            "\tShane\t2.0\n"               +
            "\tRed River\t6.5\n"           +
            "\tGiant\t3.0\n"               +
            "\t2001\t9.0\n"                +
            "Amount owed is 20.5\n"        +
            "You earned 5 frequent renter points");

        x.addRental(new Rental(new Movie("Big Country", Movie.CHILDRENS), 3));
        assert x.statement().equals(
            "Rental Record for Penelope\n" +
            "\tShane\t2.0\n"               +
            "\tRed River\t6.5\n"           +
            "\tGiant\t3.0\n"               +
            "\t2001\t9.0\n"                +
            "\tBig Country\t1.5\n"         +
            "Amount owed is 22.0\n"        +
            "You earned 6 frequent renter points");

        x.addRental(new Rental(new Movie("Spartacus", Movie.CHILDRENS), 5));
        assert x.statement().equals(
            "Rental Record for Penelope\n" +
            "\tShane\t2.0\n"               +
            "\tRed River\t6.5\n"           +
            "\tGiant\t3.0\n"               +
            "\t2001\t9.0\n"                +
            "\tBig Country\t1.5\n"         +
            "\tSpartacus\t4.5\n"           +
            "Amount owed is 26.5\n"        +
            "You earned 7 frequent renter points");

        System.out.println("Done.");}}

I basically took the code for movie amount calculations, moved it around to amountFor() and getCharge() and then replaced all calls to thisAmount with each.getCharge()